name: PR Build
on:
  pull_request:

jobs:
  pr-comments:
    name: Comments
    # Skip comments on dependabot triggered PR's due to lack of permissions
    if: ${{ github.actor != 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    timeout-minutes: 10
    steps:
      - name: Find Useful commands
        uses: tradeshift/actions-find-comment@v2
        id: fcuc
        with:
          issue-number: ${{ github.event.pull_request.number }}
          comment-author: 'github-actions[bot]'
          body-includes: Useful commands
      - name: Create Useful commands
        uses: tradeshift/actions-create-or-update-comment@v4
        with:
          comment-id: ${{ steps.fcuc.outputs.comment-id }}
          issue-number: ${{ github.event.pull_request.number }}
          body: |
            ## :robot: Useful commands :robot:
            `mvn deploy` - build and deploy a snapshot release to test in another component :rocket:
            `rerun` or `rerun failed`- restart the build pipeline - useful if you suspect flaky tests! :pray:
          edit-mode: replace
  pr-test-sonar:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GH_TOKEN }}
      - uses: tradeshift/setup-git-credentials@v2
        with:
          credentials: "https://tradeshiftcicomponents:${{ secrets.GH_TOKEN }}@github.com/"
      - name: Fetch PR HEAD
        if: contains(github.ref, 'pull')
        run: |
          git fetch origin ${{ github.event.pull_request.head.sha }}
          git checkout ${{ github.event.pull_request.head.sha }}
      - uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - id: setupJava
        uses: actions/setup-java@v4
        with:
          java-version: 8
          distribution: 'zulu'
      - name: Set up Maven
        uses: tradeshift/actions-setup-maven@v4.5
        with:
          maven-version: 3.9.2
      - name: Configure maven
        uses: tradeshift/actions-setup-java-mtls@v1
        with:
          java-version: "${{ steps.setupJava.outputs.version }}"
          maven-settings: ${{ secrets.MAVEN_SETTINGS_GH_PG }}
          maven-security: ${{ secrets.MAVEN_SECURITY }}
          maven-p12: ${{ secrets.MAVEN_P12 }}
          maven-p12-password: ${{ secrets.MAVEN_P12_PASSWORD }}
          mtls-cacert: ${{ secrets.MTLS_CACERT }}   
      - name: Compile
        run: |
          mvn -B compile
      - name: Test
        run: |
          mvn -B -Dmaven.test.failure.ignore=true install javadoc:javadoc
      - name: Junit report
        if: always()
        uses: tradeshift/actions-junit-report@v4
        with:
          report_paths: 'target/surefire-reports/**/*.xml'
      # Switch to java 11 for the sonar scan
      - name: Setup java 11 for sonar
        id: setupJava11
        uses: actions/setup-java@v4
        with:
          java-version: 11
          distribution: 'zulu'
      - name: Configure maven for java11
        uses: tradeshift/actions-setup-java-mtls@v1
        with:
          java-version: "${{ steps.setupJava11.outputs.version }}"
          maven-settings: ${{ secrets.MAVEN_SETTINGS_GH_PG }}
          maven-security: ${{ secrets.MAVEN_SECURITY }}
          maven-p12: ${{ secrets.MAVEN_P12 }}
          maven-p12-password: ${{ secrets.MAVEN_P12_PASSWORD }}
          mtls-cacert: ${{ secrets.MTLS_CACERT }}
      - name: SonarQube Scan
        uses: tradeshift/actions-sonarqube@v2
        with:
          ca-cert: ${{ secrets.MTLS_CACERT }}
          client-cert: ${{ secrets.MTLS_CERT }}
          client-key: ${{ secrets.MTLS_KEY }}
          scanner: maven
          token: ${{ secrets.SONAR_TOKEN }}
